<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
  <meta charset="UTF-8" />
  <title>ReactJS + Spring Data REST</title>
  <link rel="stylesheet" href="/main.css" />
</head>

<body>

  <h1>ERROR</h1>
    <p>
        You tried to access the API but there were an error.</p>
    <p>
        Please verify the url used. For instance, use:
        <li> BASE_URL + "/api/serie/all" (e.g. <a href="http://localhost:8080/api/serie/all">http://localhost:8080/api/serie/all</a>)</li>
    </p>
  <script src="built/bundle.js"></script>

</body>

</html>
